<div class="container bg-dark">
    <div class="row">
        
        <div class="col-sm-12 text-center backimg">
            <h2 class="h1 abouttitle text-center"> <b>Order Placed.  Bon Appétit!!!</b></h2>
           
            <div  style="padding-top:70px">
            <a class="explore5 btn text-uppercase" href="/menu">Back to Menu</a>
            <div>
            <h3>Login to see Order Details</h3>
            <p>Email : {{useremail}}</p> 
            <p>Password : Bon123</p> 
            <a class="btn btn-primary" href="/login">Login</a>
        </div>  
        </div>
</div>