<div class="container backimg">
    <div class="row">
        
        <div class="col-sm-12 text-center">
            <h2 class="h1 abouttitle text-center"> <b>Order Placed.  Bon Appétit!!!</b></h2>
           
            <div  style="padding-top:70px">
            <a class="explore5 btn text-uppercase" href="/menu">Back to Menu</a>
            <div>
            <h3>Login to see Order Details</h3>
            <p style="color: blue;"><b>If first time user, Please check your email <span style="padding: 3px; background-color: yellow;">{{useremail}}</span> for Login Details</b></p> 
            <a class="btn btn-success" href="/login">Login</a>
        </div>  
        </div>
</div>