<nav  class="navbar navbar-fixed-top" style=" min-height:70px;font-size:18px !important;">
    <div class="container-fluid" style="margin-top:10px;font-size:18px !important;">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" style="background-color:white;" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color:black;"></span>
                <span class="icon-bar" style="background-color:black;"></span>
                <span class="icon-bar" style="background-color:black;"> </span>
        </button>
        <img alt="logo of Bon Appetit" class="img-fluid pb-3 pull-left logo-img" src="../../assets/images/logo1.png"/>
        <a class="navbar-brand" style="color:white; font-weight:bold;font-family:cursive; font-size: 30px;" href="/">Bon Appétit</a>
        
    </div>
        
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="navli otherpage"><a href="/">Home</a></li>
                
                <!-- <li class="navli otherpage"><a href="/contact#aboutus">About</a></li>     -->
                <li id="menu" class="navli menu otherpage"><a href="/menu">Menu</a></li> 
                <!-- <li class="navli otherpage"><a href="/contact">Contact</a></li>  -->
                <li class="navli otherpage" id="orders" style="display: none;"><a href="/customerorders">Orders</a></li> 
                <li class="navli otherpage" id="login"><a href="/login">Login</a></li> 
                <li class="navli otherpage" id="logout" style="display: none;"><a href="">logout</a></li>
                <li class="navli dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">More
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about"><b>About</b></a></li>
                      <li><a href="/contact"><b>Contact</b></a></li>
                    </ul>
                  </li>
                <!-- <li class="navli otherpage" id="contact"><a href="/contact#contactus">Contact</a></li> -->
                <li class="navli otherpage" id="cart"><a style="padding: 0px;" href="/cart"><img class="img-fluid pb-3 pull-left login-img" src="../../assets/images/cart.png" alt="image of cart"/><span class="cart-text">0</span></a></li>
               
                </ul>      
    </div>
    </div>
</nav>

<router-outlet></router-outlet>
